.findUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    /* Increased width */
    margin: 20px auto;
}

.findUsers form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findUsers label {
    width: 80%;
    /* Match the width of the input */
    text-align: left;
    /* Align the text to the left */
    margin-bottom: 10px;
    /* Add space below the label */
}

.findUsers input {
    width: 80%;
    padding: 12px;
    /* Increased padding */
    margin-bottom: 12px;
    /* Increased margin */
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.findUsers input:focus {
    border-color: #009879;
    outline: none;
}

.findUsers button {
    width: 80%;
    /* Increased width */
    padding: 12px;
    /* Increased padding */
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.findUsers button:not(:disabled):hover {
    background-color: #2980b9;
    transform: scale(1.05);
    /* Hover effect */
}

.findUsers button:not(:disabled):active {
    background-color: #1f6391;
}

.findUsers button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.user-list-container {
    width: 100%;
    max-width: 1000px;
    /* Increased width */
    max-height: 400px;
    /* Increased height */
    overflow-y: auto;
    /* Enable vertical scrolling */
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    /* Added padding */
    background-color: #fafafa;
    /* Added background color */
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.user:hover {
    background-color: #e0e0e0;
}

.user .detail {
    display: flex;
    align-items: center;
}

.user img {
    width: 50px;
    /* Increased size */
    height: 50px;
    /* Increased size */
    border-radius: 50%;
    margin-right: 10px;
}

.user button {
    padding: 8px 12px;
    /* Increased padding */
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user button:not(:disabled):hover {
    background-color: #007b63;
}

.user button:not(:disabled):active {
    background-color: #005a45;
}

.not-found-message {
    color: red;
    margin-top: 10px;
}