.userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    background-color: #000000;
    /* Set the background color */
    border-radius: 5px;
    /* Add border radius for smoother edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    padding: 10px;
    /* Add padding for space inside the user element */
    gap: 10px;
    /* Space between avatar and username */
}

.user img {
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
}

.user .texts {
    color: #fff;
    /* Adjust text color if needed */
    font-size: 16px;
    margin: 0;
    /* Remove default margin */
    white-space: nowrap;
    /* Prevent text wrapping */
}

.icons {
    display: flex;
    gap: 20px;
}

.icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}