.create-group-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.content {
  flex: 1;
  padding: 20px; /* Adjust padding as needed */
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #f8f8f8; /* Adjust background as needed */
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.dot.active {
  background-color: blue;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
